<section class='blog-head'>
  <h2 id='blog-head-prompt' data-id='{{blog.Id}}'>{{blog.title}}
    by
    {{blog.user.name}}
  </h2>
  <div class='blog-body'>
    <h3>{{blog.contents}}</h3>
  </div>
  <hr />
  <footer class='blog-dates'>
    <p id='blog-post-date'>Posted: {{format_date blog.createdAt}}</p>
    <p id='blog-update-date'>Updated: {{format_date blog.updatedAt}}</p>
  </footer>
</section>
{{#if blog.comments.length}}
<section class='comments-section'>
  {{#each blog.comments as |comment|}}
    <h4 id='comment-body'>{{comment.contents}}</h4>
    <hr />
    <p id='comment-details'>Posted:
      {{format_date comment.createdAt}}
     <i>By:
      {{comment.user.name}}</p></i>
    <hr />
  {{/each}}
</section>
{{/if}}
<div class='comment-input'>
  <textarea id='make-comment' placeholder='Enter Comment Here'></textarea>
  <div class='button-field'>
    <button id='comment-btn'>+ Comment +</button>
  </div>
</div>
<script src='/js/comment.js'></script>